* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  background-color: rgb(230, 229, 229);
  height: 100vh;
}
.text h1 {
  font-style: bold;
  font-size: 42px;
}
.text {
  display: grid;
  place-items: center;
}
.text p {
  font-size: 40.5px;
  color: #555151;
}
.text h4 {
  border: 1px solid rgb(230, 229, 229);
  color: #46434385;
  height: 70px;
  width: 550px;
  text-align: center;
  font-size: 18px;
}
.conatainer-ro {
  height: 70vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.container-1 {
  border: 1px solid rgb(252, 248, 248);
  background-color: white;
  width: 388px;
  height: 250px;
  border-radius: 10px;
  border-top: 3px solid red;
  box-shadow: 3px 7px #a7a6a6;
}
.inside-border {
  border: 20px solid white;
  border-radius: 10px;
}

.svg-1 {
  height: 120px;
  width: 330px;
  display: flex;
  align-items: flex-end;
  justify-content: end;
}

.conatainer-ro p {
  color: #535151;
  filter: blur(0.3px);
}
.conatainer-ro h2 {
  font-size: 27px;
}
